*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background-image: url('../images/pupple_scale.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}