.security-header{
    box-sizing: border-box;
    background: linear-gradient(15deg, rgba(197, 69, 180, 0.3), rgba(65, 47, 219, 0.1));
    width: 70%;
    height: 400px;
    margin-left: 2%;
    overflow: hidden;
    border-radius: 20px;
    z-index: -1000;
}
.security-header p, .security-header pre{
    margin-left: 3%;
    margin-top: 5%;
    font-size: 18px;
    color: #4b0141;
}

.security-features{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 3%;
    margin-left: 2%;
}
.Security{

}